.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.add-note-button {
  width: 200px;
  background-color: #FFFFFF;
  border: 1px solid #E44900;
  color: #E44900;
}